/* 
.imgdiv{
    border:5px solid #E0C7AC; 
    padding:auto;
     margin:5px
  }
  
  .img{
    width:100%;
     height: 400px; 
     margin-bottom: 30px;
  }
  
  .image{
    width:250px;height:auto;
    float: left;
      width: 33.33%;
      padding: 5px;
  
  }
  
  .row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
  }
  
  .qoute {
    text-decoration: underline overline;
    text-align: center;
    margin-bottom: 50px;
    color: rgb(144, 45, 45);
    display: block;
  } */

  .imgdiv{
    border:5px solid #E0C7AC; 
    padding:auto;
     margin:5px;
  }
  
  .img{
    width:100%;
     height: 400px; 
     /* margin-bottom: 30px; */
     /* background-image:url('../images/wallpaper2.jpg') ; */
  }
  
  .image{
    width:250px;height:auto;
    float: left;
      width: 33.33%;
      padding: 5px;
  
  }
  
  .row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
  }
  
  .qoute {
    text-decoration: underline overline;
    text-align: center;
    /* margin-bottom: 50px; */
    color: rgb(144, 45, 45);
  }
  
  
  /* Basic Styling */
  header {
  background: #e3da74;
  width: 100%;
  height: 300px;
  }
  
  .shop-sign {
  position: absolute;
  left: 50%;
  margin-left: -190px;
  margin-top: 50px;
  width: 380px;
  }
  
  .demo {
  position: relative;
  font-family: 'Nunito', sans-serif;
  color: white;
  width: 100%;
  height: 650px;
  }
  
  .contain-all {
  margin: auto;
  width: 150px;
  }
  
  a {
  position: relative;
  display: block;
  margin: auto;
  padding-top: 50px;
  text-decoration: none;
  color: white;
  width: 150px;
  height: 150px;
  }
  
  a:visited {
  text-decoration: none;
  color: inherit;
  }
  
  a:active {
  text-decoration: none;
  color: inherit;
  }
  
  .icon-hook {
  position: relative;
  }
  
  .icon-hook:after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }
  
  .icon-hook > svg {
  pointer-events: none;
  }
  
  .contain-card {
  padding-top: 75px;
  height: 350px;
  }
  
  
  
  svg {
  position: absolute;
  z-index: 5;
  }
  
  .text {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  }
  
  .save-text {
  top: 140px;
  }
  
  .gift-text {
  top: 150px;
  left: 2px;
  }
  
  .favorite-text {
  top: 160px;
  left: -15px;
  width: 180px;
  }
  
  .truck-text {
  top: 170px;
  left: -20px;
  width: 180px;
  }
  
  footer {
  position: relative;
  background: #e3da74;
  height: 250px;
  font-family: 'Nunito', sans-serif;
  color: white;
  font-size: 18px;
  }
  
  .by-heart {
  position: absolute;
  top: -2px;
  }
  
  .by {
  margin-left: 55px;
  }
  
  .byline {
  position: absolute;
  top: 35px;
  left: 120px;
  padding: 0;
  margin: 0;
  height: 20px;
  }
  
  .byline:hover {
  color: #fcab54;
  }
  
  .contain-footer-info {
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -200px;
  text-align: center;
  width: 400px;
  height: 50px;
  }
  
  .heartIcon{
  margin-left: 400px;
  size: 100px;
  font-size: x-large;
  
  }
  
  .availablecartIcon{
  margin-left: 40px;
  margin-bottom: 10px;
  font-size: xx-large;
  }
  .unavailablecartIcon{
    margin-left: 40px;
    margin-bottom: 10px;
    font-size: xx-large;
    color: gray;
    }
  .ShoppingWebsitePicture{  background-image: url("../images/ShoppingWebsitePicture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  }
  .shopButton{
    border: 3px solid #4606e8;
    font-size: larger;
    border-radius: 20px;
    padding: 12px;
    background-color: #4606e8;
    color: #fcfcfc;
    margin-top: 450px;
    width: 120px;
    height: 50px;
  }
  .shopLink{
    height: 0%;
    width: 0%;
  }
  #inStock{
    color:#009E60;
  }
  #outOfStock{
    color:#EE4B2B;
  }
  .ItemsInRow{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
}
#favTitle {
  text-align: center;
  font-size:300%;
  /* color: #fd4d6b; */
  color: #4606e8;
  font-family: "Monospace", Lucida- Console  ;
}

#favText {
  text-align: center;
  align-items: center;
  font-size:250%;
  color: #3304a9;
  margin-top: 300px;
  margin-bottom: 300px;

  /* text-decoration: underline; */
}
/* #empty{
  width: 100px;
  height: 100px;
  color: red;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  0%   {color:red; left:0px; top:0px;}
  25%  {color:yellow; left:200px; top:0px;}
  50%  {color:blue; left:200px; top:200px;}
  75%  {color:green; left:0px; top:200px;}
  100% {color:red; left:0px; top:0px;}
} */

.empty{
  animation: wiggle 2s linear infinite;

}
/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
    color: #9268fb;

  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
    color: #9268fb;

  }
  30% {
    transform: rotateZ(6deg);

  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);

  }
}