
.ShoppingWebsite{
  background-image: url("../images/third.png");

  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
}
.shopButton{
  border: 3px solid #4606e8;
  font-size: larger;
  border-radius: 20px;
  padding: 12px;
  background-color: #4606e8;
  color: #fcfcfc;
  margin-top: 450px;
  width: 120px;
  height: 50px;
} 
.shopLink{
  height: 0%;
  width: 0%;
} 
.browseOptions {
  font-size: 24px;
  color: #4606e8;
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inlineOption {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  font-size: 28px;
  color: #AC28A4;
  margin: 20px 0;
}

.rarr {
  font-size: 24px;
  color: #AC28A4;
  cursor: pointer;
  text-align: right;
}
