/* .icon,.ha{
  color: transparent;
    c: -webkit-gradient(linear, left top, left bottom, from(#f00), to(#333));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

} 
  /* .icon,.ha {
    cursor: pointer;
    background: pink;
    background: -webkit-radial-gradient(33% 100% circle, #515ECF 4%, #9B36B7 30%, #D92E7F 62%, #F15245 85%, #FED373);
    background: radial-gradient(circle at 33% 100%, #ff3be7 4%, #ff3be7 28%, #03ffe8 62%, #F15245 85%, #FED373);

  } */
  /* .icon,.ha {
    color: -webkit-gradient(linear, left top, left bottom, from(#f00), to(#333));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  font-size: 100px;
  } */
  
#cart{
  text-align: center;
  font-size: xx-large;
  color: #fd4d6b;
  font-family: "Monospace", Lucida- Console  ;

}

#cartIcon{
  height: auto;
  width: 70px;
}

/* #box{
  color: red;
  border: 5px solid #E0C7AC;
} */

#payment{
display: inline; 
}

#close{
  margin-top: 170px;
}

.tempOrders{
  border:4px solid #e1b96ab6 ;
}