/* 
.item{
    border:5px solid #E0C7AC; 
    padding:auto;
     margin:5px;
} 

.itemPicture{
    width:250px;height:auto;
    float: left;
    width: 33.33%;
    padding: 5px;
  
}
  
#inStock{
    color:#009E60;
}

.likeIcon{
    margin-left: 400px;
    size: 100px;
    font-size: x-large;
 }
    
.cartIcon{
    margin-left: 40px;
    margin-bottom: 10px;
    font-size: xx-large;
} 

.availableCartIcon{
    margin-left: 40px;
    margin-bottom: 10px;
    font-size: xx-large;
}

#outOfStock{
    color:#EE4B2B;
}

.unavailableCartIcon{
    margin-left: 40px;
    margin-bottom: 10px;
    font-size: xx-large;
    color: gray;
}

.ItemsInRow{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
} */
  


.ItemsInRow{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
}


#mouseTarget {
    box-sizing: border-box;
    width: 15rem;
    border: 1px solid #333;
  }
  