.favorite-container {
    padding: 20px;
  }
  
  .imgdiv {
    border: 5px solid #e0c7ac;
    padding: auto;
    margin: 5px;
  }
  
  .img {
    width: 100%;
    height: 400px;
  }
  
  .image {
    width: 250px;
    height: auto;
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
  }
  
  .qoute {
    text-decoration: underline overline;
    text-align: center;
    color: rgb(144, 45, 45);
  }
  
  .ItemsInRow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
  }
  
  #favTitle {
    text-align: center;
    font-size: 3rem;
    color: #4606e8;
    font-family: "Monospace", Lucida-Console;
  }
  
  #favText {
    text-align: center;
    font-size: 2.5rem;
    color: #3304a9;
    margin-top: 300px;
    margin-bottom: 300px;
  }
  
 